{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>R . K . A . B</title>

  

  
    <link rel="stylesheet" type="text/css" href="{% static 'rk/css2/util.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'rk/css2/main.css'%}">
    <link href="{% static 'rk/css1/style.css'%}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'rk/css1/style2.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" "type=text/css" href="{% static 'rk/css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'rk/css/style.min.css'%}">
    <link rel="stylesheet" href="{% static 'rk/fonts/icomoon/style.css' %}">

    <!--[if lt IE 9]>
      <script src="{% static 'rk/js/vendor/html5shiv.min.js' %} "></script>
      <script src="{% static 'rk/js/vendor/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body >
	  <nav class="navbar navbar-default probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:8000/index/" ></a>

        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="#" data-nav-section="features">Test website for MYSQL </a></li>

          </ul>
        </div>
      </div>

    </nav>


    <section class="probootstrap-hero prohttp://localhost/probootstrap/frame/#featuresbootstrap-slant" style="background-image:url({% static 'rk/img/pip.jpg'%})" data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row intro-text">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="probootstrap-heading probootstrap-animate">DATA FETCHED!!! </h1>
            <div class="probootstrap-subheading center">
              <p class="probootstrap-animate">
			</div>
          </div>
        </div>
      </div>
    </section>
<div class="limiter">
<div class="container-table100" >
	
<div class="wrap-table100" >
	
<div class="table100 ver2 m-b-110">
	<table data-vertable="ver4">
	<thead>
	<tr class="row100 head">
	
		<th class="column100 column1" data-column="column1">SI_NO</th>
		<th class="column100 column2" data-column="column2">first_name</th>
		<th class="column100 column3" data-column="column3">last_name</th>
		<th class="column100 column4" data-column="column4">work</th>
		<th class="column100 column5" data-column="column5">address</th>
		<th class="column100 column6" data-column="column6">county</th>
		<th class="column100 column7" data-column="column7">phone</th>
    <th class="column100 column8" data-column="column8">Worker_id </th>
    <th class="column100 column9" data-column="column9">Salary </th>
    <th class="column100 column0" data-column="column0">AGE </th>

	</tr>
	</thead>
	<tbody>
		
	{%for i in rawdata%}

	<tr class="row100",>
		
		<td class="column100 column1" data-column="column1">{{i.SI_NO}}</td>
		<td class="column100 column2" data-column="column2">{{i.first_name}}</td>
		<td class="column100 column3" data-column="column3">{{i.last_name}}</td>
		<td class="column100 column4" data-column="column4">{{i.work}}</td>
		<td class="column100 column5" data-column="column5">{{i.address}}</td>
		<td class="column100 column6" data-column="column6">{{i.county}}</td>
		<td class="column100 column7" data-column="column7">{{i.phone}}</td>
   	<td class="column100 column8" data-column="column8">{{i.Worker_id}}</td>
    <td class="column100 column9" data-column="column9">{{i.Salary}}</td>
    <td class="column100 column0" data-column="column0">{{i.AGE}}</td>

	</td>
	{%endfor%}


	</tbody>
	</table>
	</div>
			</div>
		</div>
	</div>

      


   		<script src="{% static 'rk/js/main.js'%}"></script>
	    <script src="{% static 'rk/js/scripts.min.js'%}"></script>
    	<script src="{% static 'rk/js/custom.js' %}"></script>
</body>
</html>
